* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Empieza info*/
.mainInfo {
  height: 390vh;
  display: grid;
  grid-template-areas: "Info1 Info1" "imagenInfo imagenInfo" "info2 info2" "info3 info3";
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr; }

.h1Principal {
  color: #FFDCEB;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  font-family: "Space Mono", monospace; }
  .h1Principal:hover {
    color: #FFEBF8; }

.info1 {
  grid-area: Info1;
  text-align: center; }
  .info1 .pInfo {
    font-family: "Space Mono", monospace;
    font-size: 1rem;
    padding: 1rem;
    color: #8D8D8D; }

.h2Prop {
  color: #FFDCEB;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  margin-top: 0.5rem;
  margin-bottom: 1rem; }
  .h2Prop:hover {
    color: #FFEBF8; }

.imagenInfo {
  grid-area: imagenInfo;
  text-align: center;
  margin-bottom: 1rem; }
  .imagenInfo .imagenInfo1 {
    padding: 1rem;
    width: 350px; }
    .imagenInfo .imagenInfo1:hover {
      opacity: 0.9; }

.olInfo {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 2rem;
  margin-right: 2rem; }

.info2 {
  text-align: left;
  grid-area: info2;
  margin-top: 1rem;
  padding: 1rem; }
  .info2 li {
    font-family: "Space Mono", monospace; }
  .info2 .pInfo2 {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: "Space Mono", monospace; }
  .info2 .pInfoX {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: "Space Mono", monospace; }

.info3 {
  text-align: left;
  grid-area: info3;
  margin-bottom: 1rem;
  padding: 1rem; }
  .info3 li {
    font-family: "Space Mono", monospace; }
  .info3 .pInfo3 {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: "Space Mono", monospace; }
  .info3 .pInfoX {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: "Space Mono", monospace; }

@media only screen and (min-width: 390px) {
  .mainInfo {
    height: 300vh; } }

@media only screen and (min-width: 400px) {
  .mainInfo {
    height: 260vh; } }

@media only screen and (min-width: 500px) {
  .mainInfo {
    height: 275vh; } }

@media only screen and (min-width: 700px) {
  .mainInfo {
    height: 375vh;
    display: grid;
    grid-template-areas: "imagenInfo imagenInfo imagenInfo imagenInfo" "Info1 Info1 Info1 Info1" "info2 info2 info2 info2" "info3 info3 info3 info3";
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 0.5fr 1fr 2fr; }
  .h1Principal {
    font-size: 3rem;
    margin-bottom: 2rem; }
  .imagenInfo .imagenInfo1 {
    width: 600px; }
  .olInfo {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 3rem;
    margin-right: 3rem; }
  .info1 {
    margin-top: 2rem;
    grid-area: Info1; }
    .info1 .pInfo {
      font-size: 1.8rem; }
  .h2Prop {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .info2 {
    padding: 1rem; }
    .info2 .pInfo2 {
      font-size: 1.6rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem; }
    .info2 .pInfoX {
      margin-top: 1rem;
      margin-left: 3rem;
      margin-right: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: 1.6rem;
      font-family: "Space Mono", monospace; }
  .info3 {
    margin-bottom: 1rem;
    padding: 1rem; }
    .info3 .pInfo3 {
      font-size: 1.6rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem; }
    .info3 .pInfoX {
      margin-top: 1rem;
      margin-left: 3rem;
      margin-right: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: 1.6rem;
      font-family: "Space Mono", monospace; } }

@media only screen and (min-width: 700px) and (min-width: 800px) {
  .mainInfo {
    height: 305vh; } }

@media only screen and (min-width: 700px) and (min-width: 900px) {
  .mainInfo {
    height: 240vh; } }

@media only screen and (min-width: 700px) and (min-width: 1024px) {
  .mainInfo {
    height: 330vh;
    display: grid;
    grid-template-areas: "imagenInfo imagenInfo Info1 Info1" "info2 info2 info2 info2" "info3 info3 info3 info3";
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 0.5fr 1fr; }
  .h1Principal {
    font-size: 2.5rem; }
  .imagenInfo .imagenInfo1 {
    width: 500px; }
  .info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .info1 .pInfo {
      font-size: 1.4rem;
      padding-right: 3rem; }
  .h2Prop {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem; }
  .info2 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem; }
    .info2 .pInfo2 {
      font-size: 1.1rem; }
    .info2 .pInfoX {
      font-size: 1.1rem; }
  .info3 {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem; }
    .info3 .pInfo3 {
      font-size: 1.1rem; }
    .info3 .pInfoX {
      font-size: 1.1rem; } }

@media only screen and (min-width: 1280px) {
  .mainInfo {
    height: 275vh;
    display: grid;
    grid-template-areas: "imagenInfo imagenInfo Info1 Info1" "info2 info2 info2 info2" "info3 info3 info3 info3";
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 0.8fr 1fr; }
  .h1Principal {
    font-size: 2.5rem; }
  .imagenInfo .imagenInfo1 {
    width: 660px; }
  .info1 .pInfo {
    font-size: 2rem; }
  .info2 .pInfo2 {
    font-size: 1.3rem; }
  .info2 .pInfoX {
    font-size: 1.3rem; }
  .info3 .pInfo3 {
    font-size: 1.3rem; }
  .info3 .pInfoX {
    font-size: 1.3rem; } }

/*Finaliza info*/
/*Empieza contacto*/
.h1Contacto {
  font-size: 2rem;
  font-family: "Space Mono", monospace;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  color: #FFDCEB; }
  .h1Contacto:hover {
    color: #FFEBF8; }

.article2 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.indexIframeContacto {
  border-radius: 10px;
  width: 450px;
  height: 450px; }

.form-label {
  font-family: "Space Mono", monospace; }

.form-check-label {
  font-family: "Space Mono", monospace; }

#inputState {
  font-family: "Space Mono", monospace; }

#inputAddress {
  font-family: "Space Mono", monospace; }

#inputAddress2 {
  font-family: "Space Mono", monospace; }

@media only screen and (min-width: 600px) {
  .h1Contacto {
    font-size: 2.5rem; }
  .indexIframeContacto {
    width: 650px;
    height: 450px; } }

@media only screen and (min-width: 1024px) {
  .indexIframeContacto {
    width: 1150px;
    height: 450px; } }

/*Finaliza contacto*/
/*Empieza productos*/
.h2Productos {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  color: #FFDCEB;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center; }
  .h2Productos:hover {
    color: #FFEBF8; }

.card-title {
  text-transform: uppercase;
  font-family: "Space Mono", monospace; }

.card-text {
  font-family: "Space Mono", monospace; }

@media only screen and (min-width: 600px) {
  .h2Productos {
    font-size: 2.5rem; } }

@media only screen and (min-width: 1024px) {
  .h1Contacto {
    font-size: 3rem; }
  .cardProd {
    transition: 0.8s; }
    .cardProd:hover {
      transform: scale(1.1); } }

/*Finaliza productos*/
/*Empieza servicios*/
.textServicios {
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  padding: 1rem;
  color: #FFDCEB; }
  .textServicios:hover {
    color: #FFEBF8; }

@media only screen and (min-width: 600px) {
  .textServicios {
    font-size: 2.5rem; }
  .cardTransform {
    transition: 0.8s; }
  .cardTransform:hover {
    transform: scale(1.1); } }

/*Finaliza servicios*/
.divBody {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif; }

.bg-transparent {
  background-color: transparent; }

.navbar-light .navbar-brand {
  color: #FFDCEB; }
  .navbar-light .navbar-brand:hover {
    color: #FFEBF8; }

.logo {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 10px;
  margin: 20px; }

.nav-item {
  font-family: "Space Mono", monospace; }

.btn-new {
  color: #FFFFFF;
  background-color: #FFDCEB;
  border-color: #FFDCEB;
  font-family: "Space Mono", monospace; }
  .btn-new:hover {
    color: #FFFFFF;
    background-color: #FFEBF8;
    border-color: #FFEBF8; }

footer .anchoFooter .redes .bi-facebook, footer .anchoFooter .redes .bi-whatsapp, footer .anchoFooter .redes .bi-instagram {
  font-size: 25px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  color: #232323; }
  footer .anchoFooter .redes .bi-facebook:hover, footer .anchoFooter .redes .bi-whatsapp:hover, footer .anchoFooter .redes .bi-instagram:hover {
    color: #FFFFFF; }

footer {
  width: 100%;
  background: #FFDCEB;
  height: auto;
  padding: 40px;
  font-family: "Space Mono", monospace;
  text-align: center; }
  footer .anchoFooter {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    footer .anchoFooter .h3Footer {
      font-size: 2.5rem;
      color: #232323; }
    footer .anchoFooter .formularioEmail {
      display: flex;
      flex-direction: column;
      margin: 20px; }
      footer .anchoFooter .formularioEmail .emailForm {
        margin: 10px;
        border-radius: 5px;
        padding: 0.75rem; }
    footer .anchoFooter .redes {
      display: inline-block; }
  footer .footerBottom .pFooter {
    margin: 20px;
    padding: 10px; }

.textIndex {
  font-family: "Space Mono", monospace;
  color: #FFDCEB;
  padding: 1rem;
  font-size: 25px; }
  .textIndex:hover {
    color: #FFEBF8; }

.textContacto {
  font-family: "Space Mono", monospace;
  color: #FFDCEB;
  padding: 1rem;
  font-size: 25px; }
  .textContacto:hover {
    color: #FFEBF8; }

.card, .indexIframe {
  border-radius: 10px; }

.card-img-top:hover {
  opacity: 0.6; }

.form-control {
  font-family: "Space Mono", monospace; }

@media only screen and (min-width: 600px) {
  .textIndex {
    font-size: 35px; }
  .textContacto {
    font-size: 35px; } }

@media only screen and (min-width: 1024px) {
  .textIndex {
    font-size: 40px; }
  .textContacto {
    font-size: 40px; } }
