*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "layout/info";
@import "layout/contacto";
@import "layout/productos";
@import "layout/servicios";
@import "utilities/variables";

//Estilos comunes

.divBody{
    background-color: $color-fondo;
    font-family: $fuente;
}

.nav-item {
    &:hover{
        color: nth($colores, 3);
    }
}

footer{
    width: 100%;
    background: nth($colores, 2);
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.anchoFooter{
    margin-top: 50px;
}

.redes{
    display: inline-block;
}

.bi-instagram {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: nth($colores, 4);
}

.bi-instagram:hover {
    color: nth($colores, 1);
}

//Empieza el index

.bg-transparent{
    background-color: transparent;
}

.navbar-light .navbar-brand{
    color: nth($colores, 2);
    &:hover{
        color: nth($colores, 3);
    }
}

.logo{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 10px;
    margin: 20px;       
}

.nav-item {
    text-transform: uppercase; 
}

@mixin textProp{
    font-family: $fuente-terciaria;
    color: nth($colores, 2);
    padding: 1rem;
    &:hover{
        color: nth($colores, 3);
    }
}

.textIndex{
    @include textProp();
    font-size: ($medidaH2 - 75) * 1;
}

.textContacto{
    @include textProp();
    font-size: ($medidaH2 - 75) * 1;
}

%border{
    border-radius: 10px;
}

.card{
    @extend %border;
}

.card-img-top:hover{ 
    opacity: 0.6;
}

$botonEstilos:(
    botonEstilos-color: nth($colores, 1),
    botonEstilos-background-color: nth($colores, 2),
    botonEstilos-border-color: nth($colores, 2),
);


.btn-new{
    color: map-get($map: $botonEstilos, $key:botonEstilos-color);
    background-color: map-get($map:$botonEstilos, $key:botonEstilos-background-color);
    border-color: map-get($map:$botonEstilos, $key:botonEstilos-border-color);
    &:hover{
        color: nth($colores, 1);
        background-color:nth($colores, 3);
        border-color: nth($colores, 3);
    }
}

.indexIframe{
    @extend %border;
}

@media only screen and (min-width:600px){

    .textIndex{
        font-size: ($medidaH2 - 65) * 1;
    }

    .textContacto{
        font-size: ($medidaH2 - 65) * 1;
    }
}

@media only screen and (min-width:1024px){

    .textIndex{
        font-size: ($medidaH2 - 60) * 1;
    }

    .textContacto{
        font-size: ($medidaH2 - 60) * 1;
    }
    

}


//Finaliza index