$color-fondo: #FFFFFF;
$fuente: 'Roboto', sans-serif;
$fuente-secundaria: Arial, Helvetica, sans-serif; 
$fuente-terciaria: 'Space Mono', monospace;
$color-principal: #FFDCEB;
$color-secundario:#FFEBF8;
$colores: #FFFFFF,#FFDCEB,#FFEBF8,#232323,#8D8D8D;
$medidaH2: 100px;