$color-fondo: #FFFFFF;
$fuente: 'Roboto', sans-serif;
$fuente-secundaria: Arial, Helvetica, sans-serif; 
$color-principal: #FFDCEB;
$color-secundario:#FFEBF8;
$colores: #FFFFFF,#FFDCEB,#FFEBF8,#232323;
$medidaH2: 60px;