/*Empieza info*/

@import "../utilities/variables";

.mainInfo{
    height: 270vh;
    display: grid;
    grid-template-areas:"h1 h1"
                        "Info1 Info1"
                        "imagenInfo imagenInfo"
                        "info2 info2"
                        "info3 info3";
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}


.h1Principal{
    grid-area: h1;
    color: nth($colores, 4);
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    font-family: $fuente-terciaria;
    &:hover{
        color: nth($colores, 2);
    }
}

.info1{
    grid-area: Info1;
    text-align: center;
    .pInfo{
        font-family: $fuente-terciaria;
        font-size: 1rem;
        padding: 1rem;
        color: nth($colores, 5);
    }
}

.h2Prop{
    color: nth($colores, 4);
    font-size: 1.5rem;
    font-family: $fuente-terciaria;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    &:hover{
        color: nth($colores, 2);
    }
}

.imagenInfo{
    grid-area: imagenInfo;
    text-align: center;
    margin-bottom: 1rem;
    .imagenInfo1{
        padding: 1rem;
        width: 350px;
        &:hover{
            opacity: 0.9;
        }
    }
}

@mixin propPinfo {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: $fuente-terciaria;
}


.info2{
    text-align: left;
    grid-area: info2;
    margin-top: 1rem;
    padding: 1rem;
    li{
        font-family: $fuente-terciaria;
    }
    .pInfo2{
        @include propPinfo();
    }
}

.info3{
    text-align: left;
    grid-area: info3;
    margin-bottom: 1rem;
    padding: 1rem;
    li{
        font-family: $fuente-terciaria;
    }
    .pInfo3{
        @include propPinfo();
    }
}

@media only screen and (min-width:600px){
    .mainInfo{
        height: 250vh;
        display: grid;
        grid-template-areas:"h1 h1 h1 h1"
                            "imagenInfo imagenInfo Info1 Info1"
                            "info2 info2 info2 info2"
                            "info3 info3 info3 info3";
        justify-content: center;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 2fr 2fr 2fr 2fr;
    }

    .h1Principal{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .imagenInfo{
        .imagenInfo1{
            width: 400px;
        }
    }

    .info1{
        height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .pInfo{
            font-size: 1.5rem;
        }
    }

    .h2Prop{
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    @mixin propPinfo {
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .info2{
        margin-top: 1rem;
        padding: 1rem;
        .pInfo2{
            @include propPinfo();
        }
    }
    
    .info3{
        margin-bottom: 1rem;
        padding: 1rem;
        .pInfo3{
            @include propPinfo();
        }
    }

    @media only screen and (min-width:1024px){
        .mainInfo{
            height: 260vh;
            display: grid;
            grid-template-areas:"h1 h1 h1 h1"
                                "imagenInfo imagenInfo Info1 Info1"
                                "info2 info2 info2 info2"
                                "info3 info3 info3 info3";
            justify-content: center;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 2fr 2fr 2fr 2fr;
        }

        .h1Principal{
            font-size: 2.5rem;
        }
    
        .imagenInfo{
            .imagenInfo1{
                width: 600px;
            }
        }

        .info1{
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .pInfo{
                font-size: 1.7rem;
                padding-right: 3rem;
            }
        }

        .h2Prop{
            text-align: center;
            margin-bottom: 2rem;
            font-size: 2rem;
        }

        .info2{
            margin-left: 2rem;
            margin-right: 2rem;
            padding: 2rem;
        }

        .info3{
            margin-left: 2rem;
            margin-right: 2rem;
            padding: 2rem;
        }
    }
}

/*Finaliza info*/