/*Empieza servicios*/

@import "../utilities/variables";


.textServicios{
    font-family: $fuente-terciaria;
    font-size: 2rem;
    padding: 1rem;
    color: nth($colores, 2);
    &:hover{
        color: nth($colores, 3);
    }
}

@media only screen and (min-width:600px){
    
    .textServicios{
        font-size: 2.5rem;
    }

    .cardTransform{
        transition: 0.8s;
    }
    
    .cardTransform:hover{
        transform: scale(1.1);
    }

}


/*Finaliza servicios*/